@media only screen and (max-width: 414px) {
  .map {
    width: 100%;
    height: 100vh;
    z-index: -50;
    position: fixed;
  }
  #title {
    width: 100%;
    height: 100vh;
    z-index: 0;
    position: fixed;
    background-color: white;
    opacity: 0.8;
  }
  #title-content {
    position: fixed;
    z-index: 10;
  }
  .map img {
    width: auto;
    height: 100%;
  }
  #logo {
    margin: 30% 10% 30% 10%;
    width: 80%;
    height: auto;
  }
  #yourLocation {
    width: 15px;
    height: auto;
}
  .btn-primary {margin: 0 37%;}
  #input2 {margin-bottom: 30% !important;}
  #back {
    display: none;
    float: left;
    position: fixed;
  }
  #yourLocation:hover {
    cursor: pointer;
  }
}
