#content {
  max-width: 414px;
}

.header a {
  float: left;
  color: white;
  text-align: left;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

#directions{
  color: white;
  display: block;
  padding: 2em;
  padding-top: 0px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  text-align: left;
  margin: 0 auto;
  top: 0;
  left: 0;
  background-color:#0e0a3cbd;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
  white-space: nowrap;
}

.sidenav h3 {
  padding: 8px 8px 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  /* transition: 0.3s; */
}

.sidenav a:hover {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  position: fixed;
  float: right;
  display: none;
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


@media only screen and (max-width: 414px) {
  .map {
    width: 100%;
    height: 100vh;
    z-index: -50;
    position: fixed;
    text-align: center;
  }
  #title {
    width: 100%;
    height: 100vh;
    z-index: 0;
    position: fixed;
    background-color: white;
    opacity: 0.8;
  }
  #title-content {
    position: fixed;
    z-index: 10;
  }
  .map img {
    width: auto;
    height: 100vh;
  }
  .map div {
    overflow-x: scroll;
  }
  #logo {
    margin: 30% 10% 30% 10%;
    width: 80%;
    height: auto;
  }
  #yourLocation {
    width: 15px;
    height: auto;
}
  .btn-primary {margin: 0 37%;}
  #input2 {margin-bottom: 30% !important;}
  #back {
    display: none;
    float: left;
    position: fixed;
  }
  #yourLocation:hover {
    cursor: pointer;
  }
  .pullup {
    position: fixed;
  }
}
