.sidebar {
    height: 80%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#0e0a3cbd;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    white-space: nowrap;
    top: 11.9%;
    height: 105%;
  }
  
  .sidebar h3 {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 24px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .sidebar p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: 0.3s;
    overflow-x: hidden;
  }
  
  .sidebar a:hover {
    color: #1b0c0c;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 15%;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    overflow-x: hidden;
  }
  .closebtn a {
      color: white;
  }
  
  .openbtn {
    font-size: 15.5px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    margin: 8px;
    margin-left: 3.2px;
    margin-right: 1.2px;
    border: none;
    position: relative;
    border-radius: 0.2em;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  


  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }